doctype html

html
    header 
        title Search Company
        
    body
    h1 Business Book (logo)
    
    h2
      li
        a(href='/findcompany') Company 
        li
         a(href='/findpeople') People
          li
            a(href='/findrandom') Random  
