/*Month header*/
#calendar .fc-header-toolbar{
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
}

#calendar .fc-left h2{
  font-family: Verdana, sans-serif;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  font-size: 30px;
  line-height: normal;
  float: none;
}

/*Buttons*/
#calendar .fc-right{

}

/*Date header*/
#calendar .fc-head{
  background-color: #ffcc80;
}

/*Current Date*/
#calendar .fc-today{
  background: #ffcc80;
  font-weight: bold;
}


#calendar .fc-view-container{

}



ul {list-style-type: none;}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 40px;
    font-size: 30px;
    font-weight: bold;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 40px;
    font-size: 30px;
    font-weight: bold;
}

/* Monthname Font-style*/
.month #fontstyleMonth {
    font-size: 50px;
    font-weight: bold;
}

/* Jahreszahl Font-style*/
.month #fontstyleYear {
    font-size: 30px;
    /*font-weight: bold;*/
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ffcc80;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;

}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:50px;


}

/* Highlight the "current" day */
 .days li .active {
    padding: 5px;
    background: #1abc9c;
    color: black !important
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


/* Style the links inside the sidenav */
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#about {
    top: 20px;
    background-color: #4CAF50;
}
