.border-error{
  border: 1px solid red !important;
}

.row .col#logomenu{
  padding: 0rem !important;
}

/*footer*/
body {
  display : flex;
  min-height: 100vh;
  flex-direction: column;
}

main{
  flex: 1 0 auto;
}