/*Month header*/
#calendar .fc-header-toolbar{
  padding: 70px 25px;
  width: 100%;
  background: #03a9f4;
}

#calendar .fc-left h2{
  font-family: Verdana, sans-serif;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  font-size: 30px;
  line-height: normal;
  float: none;
}

/*Buttons*/
#calendar .fc-right{

}

/*Date header*/
#calendar .fc-head{
  background-color: #ffcc80;
}

/*Current Date*/
#calendar .fc-today{
  background: #ffcc80;
  font-weight: bold;
}
