include _logoHeader.pug

main.brown.lighten-5
  form.col.s6.container(method='POST' action='/search')
    div.input-field.row 
      div.col.s12.m5
        h5.brown-text.text-darken-2 Name  
      div.col.s12.m6.l3                   
        input(placeholder='Name' name="name", type ='text')
      div.col.s12.m6.l3
        p
        input#test1.with-gap.radio-blue(name='group1', type='radio')
        label(for='test1') Business Owner
        p
        input#test2.with-gap.radio-blue(name='group1', type='radio')
        label(for='test2') Business Taker

    div.input-field.row 
      div.browser-default.col.s7.push-s5
        select.multiple(name="field")
          option(value='', disabled='', selected='') choose your option
          option(value='1') Option 1
          option(value='2') Option 2
          option(value='3') Option 3
      h5.col.s5.pull-s7.brown-text.text-darken-2 Field

    div.input-field.row 
      input.col.s7.push-s5(placeholder='Age' name='age', type ='text')
      h5.col.s5.pull-s7.brown-text.text-darken-2 Age

    div.input-field.row 
      div.browser-default.col.s7.push-s5
        select.multiple(name="field")
          option(value='', disabled='', selected='') choose your option
          option(value='1') Bachelor
          option(value='2') Master
          option(value='3') Option 3
      h5.col.s5.pull-s7.brown-text.text-darken-2 Qualification

    div.input-field.row 
      input.col.s7.push-s5(placeholder='town' name="area", type ='text') 
      h5.col.s5.pull-s7.brown-text.text-darken-2 Area

    div.row                        
      button.waves-effect.waves-light.btn.right.light-blue(type='submit') Search
        i.material-icons.right search

include _footer.pug
