footer(class="page-footer blue")
  div.container
    div.row
      div(class="col l6 s12")
        h5.white-text About Businessbook
        p(class="grey-text text-lighten-4") This is the beginning of our footer
      div(class="col l4 offset l2 s12")
        h5.white-text Something
          p(class="grey-text text-lighten-4") Home
          p(class="grey-text text-lighten-4") Contact Us
          p(class="grey-text text-lighten-4") FAQs
      div.footer-copyright
        div.container
          strong Copyright
          | © 2017 BusinessBook. All Rights Reserved.

include _script.pug
