//footer.page-footer.blue
  div.container
    div.row
      div.col.l6.s12
        h5.white-text About BusinessBook
        p.grey-text.text-lighten-4 This is the beginning of our Footer
      div.col.l4.offset.l2.s12
        h5.white-text Something
        ul
            li
              a.grey-text.text-lighten-3(href='index.pug') Home
            li
              a.grey-text.text-lighten-3(href='contactus.pug') Contact Us
            li
              a.grey-text.text-lighten-3(href='faqs.pug') FAQs
  div.footer-copyright
    div.container.
      | © BusinessBook 2017

      a.grey-text.text-lighten-4.right(href='http://BusinessBook.com', target='_blank') More Links oder so

footer
  div.row.col.s12
    ul.tabs 
      //.blue
      li.tab.col.s1.right
        a(href='#faqs') FAQs
      li.tab.col.s2.right
        a(href='#contactus') Contact Us
      li.tab.col.s2.right
        a.active © 2017 BusinessBook. All Right Reserved.
  #contactus.col.s12.container  
    div.row
      h3 Contact Us  
      div.col.s12(style='height: 2%')
      form(method='POST' action='/register')
        div.input-field.col-s6
          input#name(type="text") 
          label(for="name") Firstname Lastname

        div.input-field.col-s6  
          input#email(type="text")
          label(for='email') Email

        div.input-field.col-s6  
          input#email2(type="text")
          label(for='email2') Repeat Email

        div.input-field.col-s6  
          input#pw(type="text")
          label(for='pw') Password

        div.input-field.col-s6  
          input#pw2(type="text")
          label(for='pw2') Confirm Password

        a#sign-up-button.btn.waves-effect.waves-light(type="submit", name="action") Sign Up
          i.material-icons send
  #faqs.col.s12.container
    h4 Frequently Asked Questions
    div.col.s12(style='height: 2%')
    h5 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    p sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    h5 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    p sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    h5 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    p sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    h5 4. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    p sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    h5 5. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    p sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    h5 6. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    p sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    h5 7. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    p sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
