//script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
script(type="text/javascript" src="js/lib/materialize.min.js")
//script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js')

script(type="text/javascript" src="js/script.js")
