//CSS
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css')
//Import Google Icon Font
link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet', type='text/css')

//- Import materialize.css
//link(href="../materialize/css/materialize.css", type="text/css", rel="stylesheet")

link(href="stylesheet/style.css", type="text/css", rel="stylesheet")
