include _head.pug

//include calendar.html

div.container
  //- div.month
  //-   ul
  //-     li.prev &#10094;
  //-     li.next &#10095;
  //-     li August
  //-     li 2016

  h3.font(size='3', face='Tahoma') June 2017
  table.highlight.bordered.centered.responsive-table
    //(border='1', bordercolor='#9575cd', cellspacing='0', cellpadding='0', align='center')
    thead
      tr
        th.font(weight="600") Mon
        th.font(size='3', face='Tahoma') Tue
        th.font(size='3', face='Tahoma') Wed
        th.font(size='3', face='Tahoma') Thu
        th.font(size='3', face='Tahoma') Fri
        th.font(size='3', face='Tahoma') Sat
        th.font(size='3', face='Tahoma') Sun
    tbody
      tr
        td
        td
        td
        td 1
        td 2
        td 3
        td 4
      tr
        td 5
        td 6
        td 7
        td 8
        td 9
        td 10
        td 11
      tr
        td 12
        td 13
        td 14
        td 15
        td 16
        td 17
        td 18
      tr
        td 19
        td 20
        td 21
        td 22
        td 23
        td 24
        td 25
      tr
        td 26
        td 27
        td 28
        td 29
        td 30
        td
        td
