doctype html

html
    head
        title Search Company
        
    body
        h1 Business Book (logo)
    
        nav
         li
             a(href='/findcompany') Company 
         li
             a(href='/findpeople') People
         li
            a(href='/findrandom') Random
        hr

    p #{data.message}
        each list in data.lists
            p  #{list}
            p
              input(type ='text')
              if (list=="Company Name") 
                  
                    