doctype html

html
    head
        title Search Company
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
                    
    body
        h1 Business Book (logo)
    
        div.row
            nav
                ul
                    li
                        a(href='/findcompany') Company 
                    li
                        a(href='/findpeople') People
                    li
                        a(href='/findrandom') Random
  
  
        form.col.s12
            div.row 
                p.col.s12 Name
                    input(placeholder='Fullname',type ='text')
            div.row 
                p.col.s12 Company Field
                    input(placeholder='Placeholder',type ='text')
            div.row 
                p.col.s12 Company Age
                    input(placeholder='Placeholder', type ='text')
            div.row 
                p.col.s12 Foundet
                    input(placeholder='Placeholder', type ='text')
            div.row 
                p.col.s12 Area
                    input(placeholder='Placeholder', type ='text')                      
                a.waves-effect.waves-light.btn.right Search


    footer
        include _script.pug
        include _footer.html
    