doctype html

html
  head
    title Search People

  body
    h1 Business Book (logo)

    nav
      li
        a(href='/findcompany') Company 
      li
        a(href='/findpeople') People
      li
        a(href='/findrandom') Random
    hr
