head 
include _head.pug

style.
  body {
  background-color: #efebe9
  }

body
  h1(class='center-align blue-text text-darken-3') Businessbook
  
  //menu
  div(class='brown lighten-5 row center-allign container')
    img(class='col s4' src='images/bb_logo.jpg' alt='logo' style={'width':'20vw','height':'20vw'})
    div(class='col s4 center-align orange lighten-3 section' style={'width':'20vw','height':'20vw'})
      case data.signIn
        when 0
          input(placeholder='username' type='text')
          input(placeholder='password' type='password')
          //p forgot your password?
          a(href='/login')
            p register
        when 1
          h3 Hello, #{username}
        default
          a(href='/signin') 
            h3 Sign in / Register
    div(class='col s4 center-align brown darken-2 section' style={'width':'20vw','height':'20vw', 'float':'right'}) 
      h3 Search
      form
        div(class='input-field')
        input(id='search' type='search' required)
        label(class='label-icon' for='search')
        i(class='material-icons')
          search
        i(class='material-icons')
          close
        a(href='/FindRandom')
          p advanced
    div(class='col s4 center-align brown darken-2' style={'width':'20vw','height':'20vw'}) 
      a(href='https://www.wikiwand.com/de/Business')
        h3 Knowledge Page     
    div(class='col s4 center-align cyan lighten-2' style={'width':'20vw','height':'20vw'}) 
      //a(href='add page link here')
      h3 Event Calendar
    div(class='col s4 center-align orange lighten-3' style={'width':'20vw','height':'20vw'}) 
      //a(href='add page link here')    
      h3 Browse Company

  //static pages
  div(class='blue-text darken-3')
    p contact us
    p FAQs

footer
include _footer.pug

//-clicked
  when 0 
    h3 username
    h3 password
    p forgot your password?
    p register
  //already signed in
  when 1
    //img profilePicture
    h3 Hello, #{username}
  //register
  when 2 
    h3 name
    h3 email
    h3 password
    h3 password again