head 
meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
//- Let browser know website is optimized for mobile
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')

//CSS
link(href="stylesheet/lib/materialize.min.css", type="text/css", rel="stylesheet")
//link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css')

//Import Google Icon Font
link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet', type='text/css')

//customize stylesheet
link(href="stylesheet/style.css", type="text/css", rel="stylesheet")


style.
  body {
  background-color: #efebe9
  }

body
  //top-banner
  div(class='cyan lighten-2' style='height: 100%;' onload='myFunction()')
    h1(class='center-align brown-text text-darken-2' style='line-height: 50vw;')
      | 
      span(class=' orange-text text-lighten-3' style='font-weight: bold;') B 
      | u s i n e s s b o o k 
      a(href='javascript:smoothScroll()') 
        i(class='material-icons') keyboard_arrow_down
  
  //menu      
  div(class='brown lighten-5 container' id='menudiv' style='height: 100%;')
    .square
      .content
        .table
          .table-cell
            img(class='rs' id='logomenu' src='images/bb_logo.jpg' alt='logo')
    .square
      .content.orange.lighten-3
        .table
          .table-cell
            div(class='center-align')
              case data.signIn
                when 0
                  input(placeholder='Username' type='text')
                  input(placeholder='Password' type='password')
                  button.btn.btn-small.waves-effect.cyan.lighten-2(type='submit') Login
                  //p forgot your password?
                  a(href='/register')
                    p register
                when 1
                  h3 Hello, #{username}
                default
                  a(href='/signin#menudiv') 
                    h3 Sign in / Register
    .square
      .content.brown.darken-2
        .table
          .table-cell
            div(class='center-align' ) 
              h3 Search
              form
                div(class='input-field')
                input(id='search' type='search' required)
                label(class='label-icon' for='search')
                i(class='material-icons')
                  search
                i(class='material-icons')
                  close
                a(href='/FindRandom' class='center-align')
                  p advanced
    .square.brown.darken-2
      .content
        .table
          .table-cell
            div(class='center-align') 
              a(href='https://www.wikiwand.com/de/Business')
                h3 Knowledge Page 
    .square.cyan.lighten-2
      .content
        .table
          .table-cell
            div(class='center-align container') 
              a(href='/calendar')
                h3 Event Calendar
    .square.orange.lighten-3
      .content
        .table
          .table-cell
            div(class='center-align') 
              //a(href='add page link here')    
              h3 Browse Company

  //static pages
  div(class='blue-text darken-3')
    p contact us
    p FAQs


include _footer.pug
include _script.pug

script.
  $(document).ready(function(){
    console.log("test");
  });
  function smoothScroll(){
    console.log("hello");
    $.scrollTo($('#menudiv'), 500);
  }
//-clicked
  when 0 
    h3 username
    h3 password
    p forgot your password?
    p register
  //already signed in
  when 1
    //img profilePicture
    h3 Hello, #{username}
  //register
  when 2 
    h3 name
    h3 email
    h3 password
    h3 password again