head 
include _head.pug

body
    h1(class='center-align blue-text text-darken-3') Businessbook
    div(class='blue-text text-darken-3 row center-allign')
        div(class='col s4 center-align primary-background-color section' style={'width':'25vw','height':'25vw'})
            case data.signIn
                when 0
                    input(placeholder='username' type='text')
                    input(placeholder='password' type='password')
                    //p forgot your password?
                    a(href='/login')
                        p register
                when 1
                    h3 Hello, #{username}
                default
                    a(href='/signin') 
                        h3 Sign in / Register
        div(class='col s4 center-align yellow section materialboxed' style={'width':'25vw','height':'25vw'}) 
            h3 Search
            form
                div(class='input-field')
                input(id='search' type='search' required)
                label(class='label-icon' for='search')
                i(class='material-icons')
                    search
                i(class='material-icons')
                    close
                a(href='/FindRandom')
                    p advanced
        div(class='col s4 center-align green' style={'width':'25vw','height':'25vw'}) 
            a(href='https://www.wikiwand.com/de/Business')
                h3 Knowledge Page

    div(class='blue-text text-darken-3 row')      
        div(class='col s4 center-align red darken-2' style={'width':'25vw','height':'25vw'}) 
            //a(href='add page link here')
            h3 Event Calendar
        div(class='col s4 center-align blue lighten-4' style={'width':'25vw','height':'25vw'}) 
            //a(href='add page link here')    
            h3 Browse Company

    //static pages
    div(class='blue-text darken-3')
        p contact us
        p FAQs

h1(class='center-align blue-text text-darken-3') Businessbook
  div(class='blue-text text-darken-3 row center-allign')
    div(class='col s4 center-align red section' style={'width':'25vw','height':'25vw'})
      case signIn
        default
          h3 Sign in / 
          h3 Register
    div(class='col s4 center-align yellow section' style={'width':'25vw','height':'25vw'}) 
      h3 Search
      if hover
        p search
        //img search.jpg
      p advanced
    div(class='col s4 center-align green' style={'width':'25vw','height':'25vw'}) 
      h3 Knowledge
      h3 Page

  div(class='blue-text text-darken-3 row')      
    div(class='col s4 center-align red darken-2' style={'width':'25vw','height':'25vw'}) 
      h3 Event 
      h3 Calendar
    div(class='col s4 center-align blue lighten-4' style={'width':'25vw','height':'25vw'}) 
      h3 Browse 
      h3 Company

  //static pages
  div(class='blue-text darken-3')
    p contact us
    p FAQs

  p1 Shofa

footer
include _footer.pug
//-clicked
  when 0 
    h3 username
    h3 password
    p forgot your password?
    p register
  //already signed in
  when 1
    //img profilePicture
    h3 Hello, #{username}
  //register
  when 2 
    h3 name
    h3 email
    h3 password
    h3 password again
