doctype html

html
  head
    title UserProfile

  body
    h1 Business Book (logo)

    nav
      li
        a(href='/findcompany') testing 
      li
        a(href='/findpeople') testing2
      li
        a(href='/findrandom') testing3
    hr
